# Generated by scripts/build_action_schema.py from the pinned agent OpenAPI snapshot.
# These source contracts do not prove served availability.
openapi: 3.1.0
info:
  title: Voidly x402 catalog Action
  version: 2026-10-07.2
  description: Public, read-only Voidly discovery projected from a pinned agent OpenAPI snapshot. Source
    wiring is not proof of a served release. Catalog entries do not authorize payment, execution, publication,
    or private Agent Home access.
  contact:
    name: Voidly
    url: https://voidly.ai
servers:
- url: https://x402.voidly.ai
security: []
paths:
  /v1/services:
    get:
      operationId: x402ServiceCatalog
      summary: Read the separate x402 service catalog
      tags:
      - Agent actions
      x-voidly-availability: external_gateway_documented
      description: Catalog entries are descriptive; selected resource HTTP 402 terms govern price and
        access.
      security: []
      responses:
        '200':
          description: Service catalog.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v1/services/match:
    get:
      operationId: x402ServiceMatch
      summary: Discover live seller services at the separate gateway
      tags:
      - Agent actions
      x-voidly-availability: external_gateway_documented
      description: Keyword match, not semantic ranking. Check selected detailUrl ID, version, outputPrivacy,
        inputSchema and rights before calling.
      security: []
      parameters:
      - name: capability
        in: query
        schema:
          type: string
      - name: network
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          default: 10
          maximum: 10
      responses:
        '200':
          description: Matching live service cards with exact detailUrl and callUrl.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v1/services/{serviceId}:
    get:
      operationId: x402ServiceDetail
      summary: Read exact selected seller service detail
      tags:
      - Agent actions
      x-voidly-availability: external_gateway_documented
      description: Read the exact detailUrl including network and version from the match card. Check ID/version;
        HTTP 409 means rediscover. Detail price is a hint, not payment authority.
      security: []
      parameters:
      - name: serviceId
        in: path
        required: true
        schema:
          type: string
      - name: network
        in: query
        required: true
        schema:
          type: string
      - name: version
        in: query
        required: true
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: Current listing detail.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '409':
          description: Listing changed; rediscover.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
x-voidly-coverage:
  servedVerified: false
